@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&family=Klee+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  background: #ececec;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfdfdf;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  .repo-list {
    height: 500px;
    overflow-y: scroll;
    width: 1080px;
    border: 1px solid #e5e0e0;

    .loadingText {
      text-align: center;
    }

    .repo-card {
      display: grid;
      grid-template-columns: 200px 1fr;
      align-items: center;
      height: 100px;
      border : 1px solid #f0f0f0;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      .image-holder {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        border: 1px solid #dfdfdf;

        img {
          max-height: 80px;
        }
      }

      .repo-info {
        padding: 0 2em;

        h1 {
          font-family: 'Klee One', cursive;
          font-size: 1.5em;
          margin-bottom: 5px;
        }

        p {
          margin-bottom: 5px;
        }

        .issues-stars {
          display: flex;
          flex-direction: row;
          align-items: baseline;

          label {
            font-size: 12px;
            padding: 1px 5px;
            border: 1px solid #dfdfdf;
            margin-right: 5px;
          }

          p {
            font-size: 12px;
            text-indent: 5px;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
}